.share-1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    text-align: center;
}
.share-1 p{
    font-size:0.9rem;
    color: rgb(115,115,115);
    font-weight: 600;
    cursor: pointer;
}
.Posts{
    display: flex;
}
.share img{
    width: 1vw;
    height: 2vh;
}
.share-2{
    margin-top: 2vw;
    margin-left: 10vw;
    line-height: 2;
}
.share-2 img{
    width: 20vw;
    height: 40vh;
    object-fit: cover;
    padding: 1vh;
    border-radius: 10px;
    cursor: pointer;
}
hr{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.5);
}